.trait {
  background-color: $lightbgColor;
  background-image:radial-gradient(transparent 20%, rgba(120, 158, 163,0.55) 45%, transparent 100%);
  color: $darkTextColor;
  font-family: $code-font;
  position: relative;

  &::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: linear-gradient(
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.05) 50%
    );
    background-size: 100% 8px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6em;
  }
  h1 {
    color: $darkbgColor; // Dark text on light background for contrast
    font-family: $code-font;
    font-size: 3.25rem;
    position: relative;
    z-index: 2;
    flex: 1;
  }
  .list-wrapper {
    position: relative;
    height: 15.2em;
    overflow: hidden;
  }
  ul {
    list-style: none;
    padding: 4.75em 0 0 0;
    transition: transform 0.5s ease;
  }
  li {
    font-family: $code-font;
    font-size: 2.5em;
    font-weight: bold;
    transform: scale(0.7);
    opacity: 0.25;
    transition: all 0.5s;
    color: rgba($accent1, 0.7);
    &.active {
      color: $darkbgColor; // Brightest color for active
        transform: scale(1);
        opacity: 1;
        text-shadow: 2px 2px 0px $lightbgColor;
    }
  }
}
@keyframes blink {
  50% { opacity: 0; }
}

#ticker {
  transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

@media (max-width: 768px) {
  .trait {
    .container {
      flex-direction: column;
      text-align: center;
      gap: 25px;
    }

    h1 {
      font-size: 2.5rem;
    }

    ul {
      padding: 35px 0 0 0;
    }

    li {
      font-size: 20px;
      opacity: 0.15;
    }

    .list-wrapper {
      height: 200px;
    }
    &.active {
      transform: scale(0.55);
    }
  }
  
  .btn.btn-outline {
    margin: 10px 0 0;
    display: block;
  }
}