//Variables
$max-width: 1000px;
$darkbgColor: #0b2e33;
$lightbgColor: #4f7c82;
$darkTextColor: #789ea3;
$lightTextColor: #e0f2f1;
$accent1: #00ffcc;
$accent2: #ffcc00;
$accent1-glow: rgba(0, 255, 204, 0.3);
$terminalHeader: #16464d;
$code-font: "Courier New", Courier, monospace;
//
// Base body
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: $code-font;
  line-height: 1.6;
  color: $lightTextColor;
  background-color: $darkbgColor;
  padding-bottom: 60px;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}

.pill,
.reveal,
.timeline-item,
#ticker,
.skill-category {
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform, opacity; // Tells the browser to optimize these
}

@media (max-width: 768px) {
.hidden-mobile { display: none !important; }
}