.work {
  font-family: $code-font;
}
.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 100%;
    height: 2px;
    background: $lightbgColor;
  }
}
.timeline-item {
  position: relative;
  z-index: 2;
  width: 200px;
  text-align: center;
  .timeline-dot {
    width: 30px;
    height: 30px;
    background: $accent1;
    border: 4px solid $darkbgColor;
    border-radius: 50%;
    margin: 0 auto 15px;
    transition: 0.3s;
  }
  &:hover .timeline-dot {
    transform: scale(1.3);
  }
  h4 {
    margin: 0;
    color: $lightTextColor;
  }
  p {
    font-size: 0.85rem;
    color: $darkTextColor;
  }
}