---
---
// 1. Core
@import "variables";

// 2. Navigation
@import "navigation";

// 3. Page Components
@import "hero";
@import "trait";
@import "work";
@import "projects";
@import "projects_view";
@import "skill";
@import "sections";
@import "about";

// 4. Global UI
@import "footer";