---
layout: default
---
<div class="professional-layout-wrapper">
<div class="workspace-container">
  <div class="window-header">
    <div class="projHeader">~projects\professional\{{page.company}}\{{page.duration}}\{{ page.title | slugify }}.sh</div>
    <div class="projectStatus hidden-mobile">Completed</div>
  </div>

  <div class="workspace-main">
    <aside class="system-sidebar">
      <div class="projGroup">
        <div class="meta-group">
        <label>DOMAIN</label>
        <p>{{ page.domain }}</p>
      </div>

      <div class="meta-group">
        <label>ROLE</label>
        <p>{{ page.role }}</p>
      </div>
      </div>

      <div class="meta-group techStack">
        <label>TECH_STACK</label>
        <ul class="tool-list">
          {% for tool in page.tools %}
          <li>{{ tool }}</li>
          {% endfor %}
        </ul>
      </div>
    </aside>

    <main class="execution-log">
      <div class="content-body">
        {{ content }}
      </div>
    </main>
  </div>
</div>
</div>